<style type="text/css">	
.mapContent {
	height: 400px;
	width: 400px;
	background-color: #55d254;
	border: solid 1px;
}

.positionable {
	position: absolute;
}

</style>

<div class="mapContent" [style.position]="'absolute'">
	<ion-icon class="positionable" name="walk" [style.position]="'absolute'" [style.bottom]="calculate(userService.userPosition[0].z)" [style.left]="calculate(userService.userPosition[0].x)"></ion-icon>
	<ion-icon class="positionable" name="aperture" [style.position]="'absolute'" [style.bottom]="calculate(userService.cadeauPosition[0].z)" [style.left]="calculate(userService.cadeauPosition[0].x)"></ion-icon>
</div>