<body>
  <div id="title"></div>
  <button id="buttonO">Send New Object</button>
  <button id="buttonM">Send New Map</button>
  <button id="buttonDM">Send move distance</button>
  <button id="buttonDF">Send fixe distance</button>
  <button id="buttonDI">Send Incresed distance</button>
  <button id="buttonDD">Send Decresed distance</button>
  <div id="history"></div>
</body>

<script src="/socket.io/socket.io.js"></script>

<script>
  var socket = io.connect();

  var addMsg = function (msg) {
    document.getElementById("history").innerHTML += "<p>" + msg + "</p>";
  };

  var type1 = {};
  type1.category = "home";
  type1.name = "blue_home";

  var position1 = {};
  position1.x = 1;
  position1.y = 1;
  position1.z = 1;

  var object1 = {};
  object1.id_object = 1;
  object1.type = type1;
  object1.position = position1;
  object1.angle = 90;
  object1.scale = 2;

  var type2 = {};
  type2.category = "home";
  type2.name = "red_home";

  var position2 = {};
  position2.x = 40;
  position2.y = -7;
  position2.z = -6;

  var object2 = {};
  object2.id_object = 2;
  object2.type = type2;
  object2.position = position2;
  object2.angle = 0;
  object2.scale = 1;

  var map = {};
  var object_list = [];
  object_list.push(object1);
  object_list.push(object2);
  map.objects = object_list;

  var sendObject = function(){
    socket.emit('object', object1);
    addMsg("Object sent");
  };
  document.getElementById("buttonO").onclick = sendObject;

  var sendMap = function(){
    socket.emit('map', map);
    addMsg("Map sent");
  };
  document.getElementById("buttonM").onclick = sendMap;

  var evol = 0.9;
  var courbe = 40;
  var distancesMessage = [];
  var changes = 0;
  var sendDistancesMessages = function(i, init){
    if(distancesMessage.length <= i || init != changes){
      addMsg("Distance finished");
      console.log("finished");
      return;
    }
    socket.emit('distance', {'distance':distancesMessage[i], 'date':Date.now()});
    courbe = distancesMessage[i];
    setTimeout(() => sendDistancesMessages(i + 1, init), 1000);
  }
  var sendDistances = function () {
    

    var tmpCourbe = courbe;
    distancesMessage  = [];
    var produceDistancesMessages = function(i, distance, coef){
      if(i < 0) return;
      distancesMessage.push(distance);
      produceDistancesMessages(i - 1, distance - coef, coef);
      distancesMessage.push(distance - coef * 0.5);      
    };
    addMsg("produce Distance");
    for (var i = 0; i < 15; i++){
      produceDistancesMessages(10, tmpCourbe, (tmpCourbe * evol)/ 10);
      tmpCourbe = tmpCourbe * evol;
    }
    addMsg("send Distance");
    sendDistancesMessages(0, ++changes);
  }
  document.getElementById("buttonDM").onclick = sendDistances;


  var sendDistancesFixe = function () {
    
    distancesMessage  = [];
    for(var i = 0; i < 30; i++)
      distancesMessage.push(courbe);
    sendDistancesMessages(0, ++changes);
  }
  document.getElementById("buttonDF").onclick = sendDistancesFixe;

  var sendDistancesIncrease = function () {
    
    distancesMessage  = [];
    var tmpCourbe = courbe;
    for(var i = 0; i < 30; i++){
      tmpCourbe += 1;
      distancesMessage.push(tmpCourbe);
    }
    sendDistancesMessages(0, ++changes);
  }
  document.getElementById("buttonDI").onclick = sendDistancesIncrease;

  var sendDistancesDecrease = function () {
    
    distancesMessage  = [];
    var tmpCourbe = courbe;
    for(var i = 0; i < 30 && tmpCourbe > 1; i++){
      tmpCourbe -= 1;
      distancesMessage.push(tmpCourbe);
    }
    sendDistancesMessages(0, ++changes);
  }
  document.getElementById("buttonDD").onclick = sendDistancesDecrease;


  socket.on('connect', function(){
    addMsg("Connected to the server");

    socket.emit('register', {type : "table"});
    addMsg("Registering as a table");

    document.getElementById("title").innerHTML = "<h4> Table " + socket.id + "</h4>";
  });

  socket.on('position', function(data){
    addMsg("Received new user position: " + JSON.stringify(data));
  });
</script>
