
page-status {

}

.statusBlock {
	position: absolute;
	left: 0;
	width: 3%;
	height: 50%;
	margin: 1% 0 ;
    border: solid 1px darkgrey;
    border-radius: 5px;
}

.status0 {
	background-color: green;
}

.status1 {
	background-color: orange;
}

.status2 {
	background-color: red;
}

.status3 {
	background-color: blue;
}


.chart {
  margin-right: 7%;
  display: block;
  width: 95%;
  height: 80%;
}

.map {
  margin: 20px;	
  margin-left: 20%;
}

@media screen and (max-width: 780px) {
	.chart {
		height: 50%;
	}
	.statusBlock {
		height: 35%;
	}
}