<ion-header>
  <ion-navbar>
    <ion-title>
      Status
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="statusBlock" [class]="'statusBlock status' + userService.status"></div>
	<div class="chart">
    <!-- <p>userService.distanceData : {{userService.distanceData}}</p>
    <p>userService.timeData : {{userService.timeData}}</p>
    <p></p> -->
		<canvas baseChart
              [datasets]="userService.distanceDataPrinted"
              [labels]="userService.distanceDataLabel"
              [options]="chartOptions"
              [colors]="lineChartColors"
              [legend]="chartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>

    <button *ngIf="isPrevious()" (click)="previous()"><ion-icon name="arrow-back"></ion-icon></button>
    <button *ngIf="isNext()" (click)="next()"><ion-icon name="arrow-forward"></ion-icon></button>


    <!-- Il faudra rajouter des vrais notifications, valider par ergotherapeute -->
	</div>
  <mapComponent class="map"></mapComponent>
</ion-content>
