<ion-header>
  <ion-navbar>
    <ion-title>Diagramme de {{user.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="! loading">
  <div class="chart">
    <h3>cadeau vers la gauche</h3>
    <div class="left" style="display: block">
      <canvas baseChart
              [datasets]="barChartDataLeft"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <h3>cadeau vers la droite</h3>
    <div class="right" style="display: block">
      <canvas baseChart
              [datasets]="barChartDataRight"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <button *ngIf="state.success" (click)="setTime()">voir seulement les temps</button>
    <button *ngIf="state.time" (click)="setSuccess()">voir seulement les distances</button>
    <button *ngIf="!state.success || !state.time" (click)="resetSelection()">tout voir</button>
  </div>
</ion-content>
