<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="!loading">
	<ion-item-group class="usersList">
	  <ion-item class="user-list" *ngFor="let user of users">
	  	<p (click)="goto(user)" >{{user.name}}</p> 
	  </ion-item>
	</ion-item-group>
</ion-content>
